table, th, tr, td {
    color: rgb(227, 62, 12);
    text-align: center;
    border: 1px solid rgb(10, 10, 10);
    border-collapse: collapse;
    width: 500px;
  }
  thead {
    background-color: #96D4D4;
    height: 1000px;
}
tbody {
  background-color: #0c3f6e;
}